.navbar-toggler {
  background-color: white !important;
  margin-right: 1.25rem !important;
  border: 0 !important;
  border-radius: 0px !important;
  align-items: right !important;
  padding: 0.25rem 0.6rem !important;
}
.collapsed {
  margin: 0px auto;
}

.nav-item {
  margin: 0.5rem !important;

  button {
    height: 2.5rem !important;
  }
}
